<footer class="footer mt-auto py-2 bg-dark">
    <div class="text-center p-2 text-light">
        © 2023 Copyright:
        <a class="text-light" href="">Krishna Kant Singh</a>
      </div>
</footer>  